table {
  border-collapse: collapse;
  /* width: 100%; */
  white-space: nowrap;
  overflow-x: scroll;
  width: fit-content;
  margin: 10px 14px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

td:nth-child(2),
th:nth-child(2) {
  max-width: 35px;
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #ece8e8;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #409ac1;
  color: white;
}
